<!DOCTYPE html>
<html lang="en">

<head>
    <title>three.js webgl - geometry - cube</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <script id="vertexShader" type="x-shader/x-vertex">
        varying vec4 vPos;

        void main() {
            vPos = modelViewMatrix * vec4(position, 1.0);
            gl_Position = projectionMatrix * vPos;
          }
    </script>

    <script id="fragmentShader" type="x-shader/x-fragment">
        varying vec4 vPos;
        varying float c;

        void main() {
            if (mod(gl_FragCoord.x, 100) = 0) {
                c = 1.0;
            } else {
                c = 0.0;
            }
            gl_FragColor = vec4(c, c, c, 1.0);
          }
    </script>

    <script type="module">
        import * as THREE from './js/three.module.js';
        import { OrbitControls } from './js/OrbitControls.js';

        // set scale sliders
        let scalars = [16, 16, 16];

        function updateSliders() {
            $('slider-x-value').value = scalars[0] = $('slider-x').value;
            $('slider-y-value').value = scalars[1] = $('slider-y').value;
            $('slider-z-value').value = scalars[2] = $('slider-z').value;
            loadPrefab();
        }

        function initSliders() {
            $('slider-x').value = $('slider-x-value').value = scalars[0];
            $('slider-y').value = $('slider-y-value').value = scalars[1];
            $('slider-z').value = $('slider-z-value').value = scalars[2];

            $('slider-x').addEventListener("change", updateSliders);
            $('slider-y').addEventListener("change", updateSliders);
            $('slider-z').addEventListener("change", updateSliders);
        }

        initSliders();

        var camera, scene, renderer, controls;
        const view_depth = 20000;
        const blockSize = 100;

        const loader = new THREE.CubeTextureLoader();
        const texture = loader.load([
            'img/sky.jpg',
            'img/sky.jpg',
            'img/sky_blue.jpg',
            'img/sky.jpg',
            'img/sky.jpg',
            'img/sky.jpg',
        ]);

        var shaderMaterial = new THREE.ShaderMaterial({
            vertexShader: document.getElementById('vertexShader').textContent,
            fragmentShader: document.getElementById('fragmentShader').textContent
        });

        var texture2 = new THREE.TextureLoader().load('img/frame.jpg');
        var material2 = new THREE.MeshBasicMaterial({ map: texture2 });

        async function showPrefab(name) {
            if (renderer && renderer.domElement)
                document.body.removeChild(renderer.domElement);
            if (name.endsWith(".tts"))
                name = name.replace(".tts", "");
            const blockMap = await get(`/api/nim/${name}`);
            get(`/api/tts/${name}?size=${scalars.join(',')}`).then((prefab) => {
                const size = [prefab.size_x, prefab.size_y, prefab.size_z];
                const x_offset = (blockSize * size[0]) / 2;
                const z_offset = (blockSize * size[2]) / 2;

                init();
                animate();

                function init() {
                    camera = new THREE.PerspectiveCamera(70, window.innerWidth / window.innerHeight, 1, view_depth);
                    camera.position.z = 3000;

                    scene = new THREE.Scene();
                    scene.background = texture;

                    var light = new THREE.AmbientLight(0xCCCCCC);
                    scene.add(light);

                    var groundGeometry = new THREE.BoxGeometry(blockSize * 200, blockSize, blockSize * 200);

                    var groundTexture = new THREE.TextureLoader().load('img/grass.jpg');
                    groundTexture.wrapS = groundTexture.wrapT = THREE.RepeatWrapping;
                    groundTexture.repeat.set(16, 16);

                    var groundMaterial = new THREE.MeshBasicMaterial({ map: groundTexture });
                    const groundMesh = new THREE.Mesh(groundGeometry, groundMaterial);
                    groundMesh.position.set(0, -100, 0);
                    scene.add(groundMesh);

                    var geometry = new THREE.BoxGeometry(blockSize, blockSize, blockSize);
                    var prefabGeo = new THREE.Geometry();

                    for (let x = 0; x < size[0]; x++) {
                        for (let y = 0; y < size[1]; y++) {
                            for (let z = 0; z < size[2]; z++) {
                                const g = prefab.layers[z][y][x];
                                // console.log(blockMap[g]);
                                if (g) {
                                    const c = g < 32 ?
                                        `rgb(${g},${g},0)` :
                                        `rgb(${g},${g},${g})`;
                                    const mesh = new THREE.Mesh(geometry);
                                    mesh.position.set(
                                        blockSize * x - x_offset,
                                        blockSize * y,
                                        blockSize * z - z_offset);
                                    mesh.updateMatrix();
                                    prefabGeo.merge(mesh.geometry, mesh.matrix);
                                }
                            }
                        }
                    }

                    var mesh = new THREE.Mesh(prefabGeo, material2);
                    scene.add(mesh);

                    renderer = new THREE.WebGLRenderer({ antialias: true });
                    renderer.setPixelRatio(window.devicePixelRatio);
                    renderer.setSize(window.innerWidth, window.innerHeight);
                    document.body.appendChild(renderer.domElement);

                    controls = new OrbitControls(camera, renderer.domElement);
                    controls.update();

                    window.addEventListener('resize', onWindowResize, false);
                }

                function onWindowResize() {
                    camera.aspect = window.innerWidth / window.innerHeight;
                    camera.updateProjectionMatrix();
                    renderer.setSize(window.innerWidth, window.innerHeight);
                }

                function animate() {
                    requestAnimationFrame(animate);
                    renderer.render(scene, camera);
                    controls.update();
                }
            });
        }

        function loadPrefab() {
            showPrefab($('tts-select').value);
        }

        get("/api/data/alltts").then((files) => {
            let s = $('tts-select');
            files.forEach(function (file) {
                var option = document.createElement('option');
                option.text = file;
                option.value = file;
                if (file == 'aifab_03.tts')
                    option.selected = true;
                s.add(option);
            });
            s.addEventListener("change", loadPrefab);
            loadPrefab();
        }).catch(e => {
            console.error(e);
        });

        $('regen-button')

        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        // utilities
        // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

        // promisified get
        async function get(url, handler) {
            var xhttp = new XMLHttpRequest();
            return new Promise((resolve, reject) => {
                xhttp.onreadystatechange = function () {
                    if (xhttp.readyState !== 4) return;
                    if (this.status == 200 && xhttp.status < 300) {
                        const result = JSON.parse(xhttp.responseText);
                        resolve(result);
                    } else {
                        reject({
                            status: xhttp.status,
                            statusText: xhttp.statusText
                        });
                    }
                };
                xhttp.open("GET", url, true);
                xhttp.send();
            });
        }

        // get all elements with selector
        function _(id) {
            return document.querySelectorAll(id);
        }

        // get element by id without all the typing
        function $(id) {
            return document.getElementById(id);
        }

    </script>
    <select id="tts-select" class="form-control col-md-2"></select>
    <div id="scale-sliders" class="control-panel">
        <div><button id="regen-button">regen</button></div>
        <div>
            <label for="slider-x">X</label>
            <input type="range" id="slider-x" min="8" max="64" />
            <input type="text" id="slider-x-value" class="slider-value" />
        </div>
        <div>
            <label for="slider-y">Y</label>
            <input type="range" id="slider-y" min="8" max="64">
            <input type="text" id="slider-y-value" class="slider-value" />
        </div>
        <div>
            <label for="slider-z">Z</label>
            <input type="range" id="slider-z" min="8" max="64">
            <input type="text" id="slider-z-value" class="slider-value" />
        </div>
    </div>
</body>

</html>